 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
* {
    box-sizing: border-box;
}
  html {
    scroll-behavior: smooth; /* Desplazamiento suave */
  }
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}
summary{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
/* Tamaños de fuente globales */
html {
  font-size: 16px; /* Tamaño base: 1rem = 16px */
}

  .text-banner  {
 font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.testimonio {
  transition: opacity 0.5s ease;
}


 .swiper-pagination {
    display: none;
   
  }

     .slider {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: auto;
        }

        .slides {
            display: flex;
            animation: slideAnimation 10s infinite; /* Cambia el tiempo según sea necesario */
        }

        .slide {
            min-width: 100%; /* Cada slide ocupa el 100% del contenedor */
            box-sizing: border-box;
            padding: 20px; /* Espaciado interno */
        }

        @keyframes slideAnimation {
            0% { transform: translateX(0); }
            20% { transform: translateX(0); }
            25% { transform: translateX(-100%); }
            45% { transform: translateX(-100%); }
            50% { transform: translateX(-200%); }
            70% { transform: translateX(-200%); }
            75% { transform: translateX(-300%); }
            100% { transform: translateX(0); }
        }

